.call-to {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 8px; }
  .call-to .call-to-text .h4 {
    font-size: 36px;
    font-weight: 100; }
  .call-to .call-to-text .cta-button {
    padding: 12px 100px;
    background-color: transparent;
    color: #0087ff;
    border: 1px solid #0087ff;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    transition: .5s; }
    .call-to .call-to-text .cta-button:hover {
      background-color: #0087ff;
      color: #fff;
      text-decoration: none; }

.call-to-with-bg {
  border-radius: 6px;
  background-image: url("../img/call to action/call-to-action2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .call-to-with-bg .card-body .h4 {
    font-size: 36px;
    color: #fff;
    font-weight: 100;
    text-align: center; }

.cta-round-button {
  color: #0087ff;
  font-size: 14px;
  display: inline-block;
  padding: 12px 100px;
  background-color: #fff;
  border-radius: 25px;
  transition: .5s; }
  .cta-round-button:hover {
    box-shadow: 0px 0px 11px 0px #444;
    text-decoration: none; }

.call-to-with-grad-bg {
  border-radius: 12px;
  background-image: linear-gradient(56deg, #ab64f5 0%, #62dbf6 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .call-to-with-grad-bg .card-body .h4 {
    text-align: left; }

.call-to-oculus {
  background-color: #f5f5f5;
  border-radius: 8px;
  border: none !important; }
  .call-to-oculus .call-to-img img {
    width: 100%; }
  .call-to-oculus .call-to-text {
    text-align: right; }
    .call-to-oculus .call-to-text .h4 {
      font-size: 56px; }
    .call-to-oculus .call-to-text .cta-round-button {
      padding: 10px 70px;
      background-color: #0087ff;
      color: #fff;
      font-size: 14px;
      font-weight: 300; }

.call-to-with-video {
  position: relative;
  border-radius: 6px !important;
  background-color: #222 !important;
  background: linear-gradient(to right, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.7) 100%), url("../img/call to action/gamepad.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto; }
  .call-to-with-video .card-body .card-title {
    font-size: 56px;
    color: #fff;
    font-weight: 100; }
  .call-to-with-video .card-body p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    padding-right: 100px;
    padding-left: 100px; }
  .call-to-with-video .card-body .play-button {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    transition: .5s;
    margin: 0 auto; }
    .call-to-with-video .card-body .play-button:hover {
      background-color: rgba(255, 255, 255, 0.8); }
    .call-to-with-video .card-body .play-button i {
      font-size: 16px;
      position: absolute;
      line-height: 60px;
      right: 35%;
      color: #333; }

.call-to-with-video-second {
  position: relative;
  border-radius: 6px !important;
  background-color: #e7e7e7 !important;
  background: url("../img/call to action/watch.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }
  .call-to-with-video-second .card-body .card-title {
    font-size: 56px;
    color: #000;
    font-weight: 100; }
  .call-to-with-video-second .card-body p {
    color: #999;
    font-size: 16px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: left; }
  .call-to-with-video-second .card-body .play-button {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    transition: .5s;
    margin: 0; }
    .call-to-with-video-second .card-body .play-button:hover {
      background-color: rgba(255, 255, 255, 0.8); }
    .call-to-with-video-second .card-body .play-button i {
      font-size: 16px;
      position: absolute;
      line-height: 60px;
      right: 35%;
      color: #333; }

@media screen and (max-width: 1200px) {
  .call-to .call-to-text .h4 {
    font-size: 30px;
    font-weight: 100; }
  .call-to .call-to-text p {
    font-size: 14px; } }
@media screen and (max-width: 992px) {
  .call-to-with-grad-bg .card-body .h4 {
    text-align: center; }

  .call-to .call-to-text .h4 {
    font-weight: 100;
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .call-to .call-to-text p {
    font-size: 12px; }

  .call-to-oculus .call-to-img img {
    width: 80%; }

  .call-to-oculus .call-to-text {
    text-align: center; }

  .call-to-with-video .card-body p {
    padding-right: 60px;
    padding-left: 60px; } }
@media screen and (max-width: 768px) {
  .call-to .call-to-text {
    text-align: center; }
  .call-to .call-to-img {
    text-align: center; }
    .call-to .call-to-img img {
      border-radius: 8px;
      margin-top: 25px; }

  .call-to-with-bg .card-body .h4 {
    font-size: 30px; }

  .call-to-oculus .call-to-img {
    text-align: left; }

  .call-to-with-video .card-body p {
    padding-right: 20px;
    padding-left: 20px; }
  .call-to-with-video .card-body .h4 {
    font-size: 50px; }

  .call-to-with-video-second {
    background-size: cover; } }
@media screen and (max-width: 500px) {
  .call-to-with-bg .card-body .h4 {
    font-size: 25px; }

  .call-to-with-video .card-body p {
    padding-right: 0;
    padding-left: 0; } }
@media screen and (max-width: 420px) {
  .call-to .call-to-text .cta-button {
    padding: 12px 80px; } }
@media screen and (max-width: 400px) {
  .call-to .call-to-text .cta-button {
    padding: 12px 60px; } }
@media screen and (max-width: 350px) {
  .call-to .call-to-text .cta-button {
    padding: 12px 40px; } }

/*# sourceMappingURL=cta.css.map */
