ul {
  list-style: none; }

.team-img {
  position: relative;
  overflow: hidden;
  border-radius: 8px; }
  .team-img img {
    width: 100%; }

.team-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14.1px;
  right: 14.1px;
  background-image: linear-gradient(180deg, rgba(0, 198, 255, 0.7) 0%, rgba(0, 114, 255, 0.7) 100%);
  text-align: center;
  transition: .5s;
  opacity: 0;
  border-radius: 8px; }
  .team-details:hover {
    opacity: 1; }
  .team-details .team-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
    transition: .5s;
    padding: 20px; }
    .team-details .team-content .h3 {
      color: #fff;
      font-size: 20px;
      font-weight: lighter; }
      .team-details .team-content .h3 span {
        font-size: 14px;
        opacity: .6; }
    .team-details .team-content ul {
      padding: 0;
      list-style: none;
      position: relative; }
      .team-details .team-content ul li {
        width: 15%; }
        .team-details .team-content ul li a {
          color: #fff;
          font-size: 18px;
          display: block;
          transition: .5s; }
          .team-details .team-content ul li a:hover {
            color: #333; }

.card-hover {
  transition: .5s;
  border-radius: 11px; }
  .card-hover:hover {
    box-shadow: 0px 8px 20px #e8e8e8; }

.team-cards .bg-dark {
  border: none !important; }
  .team-cards .bg-dark .card-img-top {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px; }
.team-cards .card-body {
  border: 1px solid #e7e7e7;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 0;
  text-align: center; }
  .team-cards .card-body .card-title .h3 {
    font-size: 20px;
    color: #000;
    font-weight: 100; }
    .team-cards .card-body .card-title .h3 span {
      color: #999;
      font-size: 14px;
      display: block; }
  .team-cards .card-body .card-text p {
    margin: 0;
    font-size: 14px; }

.card-img-overlay {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  opacity: 0;
  transition: .5s; }
  .card-img-overlay:hover {
    opacity: 1; }
  .card-img-overlay ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .card-img-overlay ul li a {
      display: block;
      color: #fff;
      font-size: 16px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      box-sizing: border-box;
      width: 35px;
      height: 35px;
      margin-right: 20px;
      text-align: center;
      transition: .5s; }
      .card-img-overlay ul li a:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .card-img-overlay ul li a i {
        line-height: 32px; }

.horizontal-card .card-header {
  background-color: transparent;
  padding: 0;
  width: 37%; }
  .horizontal-card .card-header img {
    border-top-right-radius: 0; }
.horizontal-card .h3 {
  font-size: 20px;
  font-weight: 100; }
  .horizontal-card .h3 span {
    color: #999;
    font-size: 14px;
    display: block; }
.horizontal-card .card-text ul {
  padding: 0;
  margin-bottom: 0 !important; }
  .horizontal-card .card-text ul li a {
    color: #999;
    font-size: 18px;
    margin-left: 15px;
    transition: .5s; }
    .horizontal-card .card-text ul li a:hover {
      color: #e4e4e4; }

@media screen and (max-width: 1200px) {
  .horizontal-card .card-block .h3 {
    font-size: 18px; }
    .horizontal-card .card-block .h3 span {
      font-size: 12px; }
  .horizontal-card .card-block .card-text ul li a {
    font-size: 14px; } }
@media screen and (max-width: 992px) {
  .horizontal-card .card-block {
    margin: 0 auto;
    text-align: center; }
    .horizontal-card .card-block .h3 {
      font-size: 26px;
      margin: 0 40px 0 40px; }
      .horizontal-card .card-block .h3 span {
        font-size: 16px; }
    .horizontal-card .card-block p {
      margin: 0 40px 0 40px; }
    .horizontal-card .card-block .card-text ul {
      text-align: center; }
      .horizontal-card .card-block .card-text ul li a {
        font-size: 20px; } }
@media screen and (max-width: 768px) {
  .horizontal-card .card-block {
    margin: 0 auto;
    text-align: center; }
    .horizontal-card .card-block .h3 {
      font-size: 18px; } }

/*# sourceMappingURL=team.css.map */
