.masonry-container {
	padding: 0;
	.item {
		margin: 15px 0;
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			border-radius: 0;
		}
	}
}

.item {
		position: relative;
		.modal-zoom {
			.zoom-button {
			transition: .5s ease;
		  opacity: 0;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  text-align: center;
		  font-size: 30px;
		  color: #fff;
			&:hover {
				color: #e7e7e7;
			}
		}
		.zoom-play-button {
			width: 60px;
			height: 60px;
			background-color: #fff;
			border-radius: 50%;
			transition: .5s;
			&:hover {
				background-color: rgba(255, 255, 255, 0.8);
			}
			.fa {
				color: #333;
				font-size: 16px;
				line-height: 60px;
				display: block;
				position: absolute;
				right: 35%;
				transition: .5s;
			}
		}
	}
}

.middle {
	opacity: 0;
	transition: .5s;
	.text {
		padding: 30px;
		p {
			color: #fff;
		  font-weight: 100;
		  font-size: 14px;
		  margin: 0;
		}
		position: absolute;
	  top: 80%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	  width: 100%;
	}
}

.item:hover .zoom-button {
  opacity: 1;
}
.item:hover .middle {
  opacity: 1;
}


.masonry-no-gaps {
	.item {
		margin: 0;
		padding: 0;
	}
}


.gallery-carousel {
	img {
		border-radius: 0;
	}
	.slide {
	  height: 100%;
	}
}



@media screen and (max-width: 768px) {
	.item {
		.middle {
			.text {
				width: 70%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
  .item {
		.middle {
			.text {
				width: 90%;
			}
		}
	}
}
