$grey: #e8e8e8;
$blue: #75CEF9;
$green: #01E393;
$red: #FF3C30;
$orange: #FF991B;

// Icon boxes with text //

.icon-boxes {
	&-w-text {
		img {
			width: 72px;
			height: 72px;
		}
		p {
			max-width: 200px;
			text-align: center;

		}
		.icon-boxes-w-text-text {
			p {
				max-width: 100%;
				text-align: left;

			}
		}
	}
}
	
.speaker {
	border: 1px solid #E7E7E7;
  padding: 20px;
  border-radius: 50%;
}


// Vertical icon boxes //

.icon-boxes-vertical {
	transition: box-shadow .5s;
	border: 1px solid $grey;
	border-radius: 8px;
	padding: 20px 15px 20px 15px;
	img {
		width: 72px;
		height: 72px;
	}
	p, a {
		font-size: 14px;
	}
	a {
		color: #404040;
		transition: .5s;
		&:hover {
			color: $blue;
			text-decoration: none;
		} 
	}
	&:hover {
		box-shadow: 0px 8px 20px $grey;
	}
}

.icon-boxes-vertical-w-button {
	text-align: center;
	transition: box-shadow .5s;
	border: 1px solid $grey;
	border-radius: 8px;
	padding: 20px 15px 40px 15px;
	&:hover {
		box-shadow: 0px 8px 20px $grey;
	}
	p, a {
		font-size: 14px;
	}
	a {
		padding: 10px 20px;
		border: 1px solid $grey;
		border-radius: 6px;
		color: #404040;
		font-size: 12px;
		transition: .5s;
		&:hover {
			text-decoration: none;
			color: $blue;
			border: 1px solid $blue;
		}
	}
}

.icon-boxes-vertical-bottom-border {
	text-align: center;
	transition: .5s;
	border: 1px solid $grey;
	border-radius: 8px;
	padding: 15px 15px 40px 15px;
	&:hover {
		box-shadow: 0px 8px 20px $grey;
	}
	img {
		width: 72px;
		height: 72px;
	}
	p, a {
		font-size: 14px;
	}
	a {
		color: #404040;
		transition: .5s;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
}

.border-bottom-blue {
	border-bottom: 5px solid $blue;
}
.border-bottom-green {
	border-bottom: 5px solid $green;
}
.border-bottom-red {
	border-bottom: 5px solid $red;
}
.border-bottom-orange {
	border-bottom: 5px solid $orange;
}


// Icon-boxes horizontal //

.icon-boxes-horizontal {
	border: 1px solid $grey !important;
	border-radius: 8px;
	transition: .5s;
	&:hover {
		box-shadow: 0px 8px 20px $grey;
	}
	.h3 {
		font-size: 16px;
		font-weight: 400;
	}
	p {
		font-size: 12px;
	}

}

.fancy-box {
	transition: box-shadow .5s;
	border: 1px solid $grey;
	border-radius: 8px;
	padding: 15px 15px 5px 30px;
	&:hover {
		box-shadow: 0px 8px 20px $grey;
	}
}



.border-left-blue {
	border-left: 5px solid $blue;
}
.border-left-green {
	border-left: 5px solid $green;
}
.border-left-gradient {
	border-left: 5px solid #AB64F5;
}







