@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
$blue-title: #0094ff;
$grey: #e8e8e8;

.steps {
	max-width: 100%;
	.card-body {
		padding: 0;
		.card-title {
			.h3 {
				color: $blue-title;
				font-size: 36px;
				font-style: italic;
				font-weight: 800;
			}
		}
		.card-text {
			.h4 {
				font-size: 24px;
				font-weight: 300;
			}
			p {
				font-size: 14px;
			}
		}
	}
}

.steps2 {
	background : url(../img/mountains-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	.card-body {
		.card-title {
			.h3 {
				color: #fff;
			}
		}
		.card-text {
			.h4, p {
				color: #fff
			}
			p {
				opacity: 0.6;
			}
		}
	}
}

.steps-boxed {
	transition: .5s;
	max-width: 100%;
	&:hover {
		box-shadow: 0px 8px 20px $grey;
		border-radius: 11px !important;
	}
	.card {
		border: 1px solid rgba(0,0,0,.125) !important;
		border-radius: 11px;

		.card-header {
			background-color: $blue-title;
			.h3 {
				color: #fff;
				font-size: 36px;
				font-style: italic;
				font-weight: 800;
				text-align: center;
				margin-bottom: 0;
			}
			&:first-child {
				border-top-left-radius: 11px;
				border-top-right-radius: 11px;
			}
		}
		.card-text {
			padding: 0 24px;
			text-align: center;
			.h4 {
				color: #222;
				font-size: 24px;
				font-weight: 300;
			}
			p {
				font-size: 14px;
				margin-bottom: 36px;
			}
		}
	}
}

.steps-boxed-transparent {
	&:hover {
		box-shadow: 0 0 0 0 !important;
		border-radius: 0 !important;
	}
	.card {
		border: 1px solid rgba(255, 255, 255, 0.25) !important;
		background-color: rgba(255, 255, 255, 0.05);

		.card-header {
			background-color: rgba(255, 255, 255, 0.25);
		}
		.card-text {
			.h4 {
				color: #fff;
			}
			p {
				color: #fff;
				opacity: 0.6;
			}
		}
	}
}

.steps-boxed-absolute {
	position: relative;
	&:hover {
		box-shadow: 0px 8px 20px $grey;
		border-radius: 11px !important;
	}
	.card {
		.card-header {
			position: absolute;
			top: -19px;
			left: 10px;
			z-index: 100;
			background-color: transparent;
			border-bottom: 0;
			padding: 0;
			.h3 {
				color: $blue-title;
			}
		}
	}
}

.steps-boxed-absolute-transparent {
	position: relative;
	&:hover {
		box-shadow: 0 0 0 0 !important;
		border-radius: 0 !important;
	}
	.card {
		border: 1px solid rgba(255, 255, 255, 0.25) !important;
		background-color: rgba(255, 255, 255, 0.05);
		.card-header {
			background-color: transparent !important;
			.h3 {
				color: #fff;
			}
		}
		.card-text {
			.h4, p {
				color: #fff
			}
			p {
				opacity: 0.6;
			}
		}
	}
}

