$blue: #0094ff;



.testimonials-card {
	border: 1px solid #e7e7e7 !important;
	padding: 10px 10px 10px 20px;
	max-width: 95%;
	position: relative;
	.card-body {
		.card-title {
			font-size: 14px;
		}
	}
	.blue-quotes {
		font-size: 30px;
		display: block;
		position: absolute;
		top: 20%;
		left: -15px;
		width: 30px;
		height: 30px;
		background-color: $blue;
		color: #fff;
		border-radius: 5px;
		line-height: 30px;
		font-size: 14px;
		i {
			position: absolute;
			top: 25%;
			left: 25%;
		}
	}
}

.simple-testimonial-first {
	text-align: right;
	padding: 10px 20px 10px 10px;
	.card-body {
		.blue-quotes {
			left: 97%;
		}
	}
}

.testimonials-bg {
	background : url(../img/mountains-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	.container {
		.row {
			.col-lg-6 {
				.card {
					border: 1px solid rgba(255, 255, 255, 0.25) !important;
					background-color: rgba(255, 255, 255, 0.05);
					.card-body {
						.card-title {
							color: #fff;
							font-weight: 100;
						}
						.blue-quotes {
							background-color: rgba(255, 255, 255, 0.25);
						}
						p {
							opacity: .6;
							color: #fff;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

// Testimonials with photo

.testimonial-photo {
	position: absolute;
	top: 25%;
	left: -25px;
	img {
		width: 50px;
		height: 50px;
		border-radius: 4px;
	}
}

.first-testimonial-photo {
	left: 94%;
}

@media screen and (max-width: 992px) {
    .first-testimonial-photo {
        left: 97%;
    }
}

@media screen and (max-width: 768px) {
		.simple-testimonial-first {
			.card-body {
				text-align: left;
			}
		}
    .first-testimonial-photo {
        left: 95%;
    }
    .testimonial-photo {
    	left: 92%;
    }
    .testimonial-with-photo-card {
    	padding: 10px;
    } 
}

@media screen and (max-width: 480px) {
    .first-testimonial-photo {
        left: 92%;
    }
}


// Testimonials slider //

.sl-slide {
	text-align: center;
	.card {
		.card-body {
			.h5 {
				font-size: 16px;
				font-weight: 400;
				span {
					font-size: 12px;
					color: #999;
				}
			}
		}
	}
}

.slick-slide {
	outline: none;
}

.sl-2, .sl-4 {
	margin: 20px 0 0;
	.sl-2-slide, .sl-4-slide {
		margin: 0 7px;
		outline: none;
		cursor: pointer;
		img {
			opacity: .6;
			width: 48px;
			height: 48px;
			transition: .5s;
			&:hover {
				opacity: 1;
			}
		}
	}
	.slick-current {
			img {
				opacity: 1 !important;
				width: 68px;
				height: 68px;
			}
		}
}

.testimonials-bg {
	.container {
		.row {
			.col-12 {
				.sl3 {
					.sl-slide {
						.card {
							border: 1px solid rgba(255, 255, 255, 0.25) !important;
							background-color: rgba(255, 255, 255, 0.05);
						.card-body {
							.fas {
								color: #fff;
							}
							p {
								color: #fff;
								font-size: 14px;
								opacity: 0.6;
							}
								.card-title {
									color: #fff;
									font-weight: 100;
									opacity: 0.6;
									span {
										color: #fff;
										opacity: 0.6;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

